***
 # K-means Clustering..
***
***

# Step 1: Import Libraries required

In [3]:
import numpy as np
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

# Step 2: Load Data & Data preprocessiing

In [5]:
# importing dataset

dataset = pd.read_csv('Mall_Customers.csv')

In [6]:
# first 5 rows of dataset

dataset.head()

   CustomerID   Genre  Age  Annual_Income_(k$)  Spending_Score
0           1    Male   19                  15              39
1           2    Male   21                  15              81
2           3  Female   20                  16               6
3           4  Female   23                  16              77
4           5  Female   31                  17              40

In [18]:
# checking shape of dataset. i.e no. of rows and columns

dataset.shape

(200, 5)

In [12]:
# Checking dataset column names & numbers.

print(len(dataset.keys()))
dataset.keys()

5

Index(['CustomerID', 'Genre', 'Age', 'Annual_Income_(k$)', 'Spending_Score'], dtype='object')

In [14]:
# Renaming dataset column names.

dataset.columns = ['CustomerID', 'Gender', 'Age', 'Annual_Income', 'Spending_Score']

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      200 non-null    int64
 1   Gender          200 non-null    object
 2   Age             200 non-null    int64
 3   Annual_Income   200 non-null    int64
 4   Spending_Score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

Dataset having one categorical feature 'Gender'

In [17]:
# checking for null values..

dataset.isna().sum()

CustomerID        0
Gender            0
Age               0
Annual_Income     0
Spending_Score    0
dtype: int64